$color-primary: #579C87;
$color-secondary: #FDCB46;


$color-back-menu1: #fcdfdb;
$color-i-menu1: #f05060;
$color2-i-menu1: #f6916a;

$color-back-menu2: #fff5fe;
$color-menu2: #e38a12;
$color2-menu2: #8f5aff;

$color-back-menu3: #edefef;
$color1-menu3: #001585;
$color2-menu3: #13b4ff;

$color-back-menu4: #fdfffd;
$color1-menu4: #046b00;
$color2-menu4: #72bf56;

$size-h2_menu-1-3-4: 40px;
$size-h3: 50px;