@import '_variables.scss';
@import '_mixins.scss';

@font-face {
    font-family: "montserratbold";
    src: url("./polices/montserrat-bold-webfont.woff2") format("woff2"),
         url("./polices/montserrat-bold-webfont.woff") format("woff");
}

@font-face {
    font-family: "caveatregular";
    src: url("./polices/caveat-regular-webfont.woff2") format("woff2"),
         url("./polices/caveat-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "dancing_scriptregular";
    src: url("./polices/dancingscript-variablefont_wght-webfont.woff2") format("woff2"),
         url("./polices/dancingscript-variablefont_wght-webfont.woff") format("woff");
}

html {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
}

header{
    @include header;
}

main{
    width: 65%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: $color-back-menu3;
    margin: auto;
    margin-bottom: 100px;

}

#menu-header {
    text-align: center;
    padding-top: 20px;
    margin-top: 7%;
    background: rgb(0,21,133);
    background: linear-gradient(90deg, rgba(0,21,133,1) 0%, rgba(19,228,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    h2 {
        font-size: 50px;
        font-family: "dancing_scriptregular";
        color: $color1-menu3;
        margin: 0;
    
    }
}

.menu_title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_elmnt{
    margin: 0;
    padding: 15px 0px 71px 0px;

    li{
        display: flex;
        justify-content: space-between;
        width: 58%;
        font-size: 30px;
        padding-left: 20%;
    }

    p{
        margin: 0px;
        line-height: 50px;
        font-family: "caveatregular";
    }
}

#title-first{
    :before{
        display: inline-block;
        justify-content: space-between;
        margin: 0 20px 2px 0;
        height: 4px;
        content: " ";
        text-shadow: none;
        background-color: #001585;
        width: 290px;

    }

    h2{
        @include title-h2-animation;
        font-family: "caveatregular";
        font-size: 40px;
        margin: 0;
    }

    :hover{
        background-size: 100% 100%;
    }

    :after{
        display: inline-block;
        justify-content: space-between;
        margin: 0 0 2px 20px;
        height: 4px;
        content: " ";
        text-shadow: none;
        background-color: #001585;
        width: 290px;
    }
}

#title-second{
    :before{
        display: inline-block;
        justify-content: space-between;
        margin: 0 28px 2px 0;
        height: 4px;
        content: " ";
        text-shadow: none;
        background-color: #086cb8;
        width: 290px;

    }

    h2{
        @include title-h2-animation;
        font-family: "caveatregular";
        font-size: 40px;
        margin: 0;
    }

    :hover{
        background-size: 100% 100%;
    }

    :after{
        display: inline-block;
        justify-content: space-between;
        margin: 0 0 2px 39px;
        height: 4px;
        content: " ";
        text-shadow: none;
        background-color: #086cb8;
        width: 290px;
    }
}

#title-third{
    :before{
        display: inline-block;
        justify-content: space-between;
        margin: 0 36px 2px 0;
        height: 4px;
        content: " ";
        text-shadow: none;
        background-color: #84caff;
        width: 290px;

    }

    h2{
        @include title-h2-animation;
        font-family: "caveatregular";
        font-size: 40px;
        margin: 0;
    }

    :hover{
        background-size: 100% 100%;
    }

    :after{
        display: inline-block;
        justify-content: space-between;
        margin: 0 0 2px 36px;
        height: 4px;
        content: " ";
        text-shadow: none;
        background-color: #84caff;
        width: 290px;
    }
}

footer {
    @include footer;

    #left{
        @include footer-button;
    }
    #left:hover{
        animation: shake 0.8s infinite;
    }
    
    #right{
        @include footer-button;
    }
    #right:hover{
        animation: shake 0.8s infinite;
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
        transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(2px, 0, 0);
    }
}

@media all and (min-width: 320px) and (max-width: 767px)
{
    h2{
        margin-bottom: 7%;
    }
    
    main{
        width: 90%;
        margin-bottom: 12%;
    }

    #menu-header{
        margin-top: 12%;

        h2{
            font-size: 35px;
        }
    }

    .menu_title{
        h2{
            font-size: 25px;
        }
    }

    .menu_elmnt{
        padding: 17px;

        li{
            display: initial;
            font-size: 19px;
        }

        p{
            line-height: 25px;
            text-align: center;
            width: 97%;
        }
    }

    #menu1-footer {
        i{
            font-size: 50px;
        }

        h2{
            font-size: 30px;
        }
    }

    footer{
        margin-top: 7%;

        button{
            font-size: 18px;
        }
    }
}

@media all and (min-width: 768px) and (max-width: 1023px)
{
    h2{
        margin-bottom: 4%;
    }

    main{
        width: 78%;
        margin-bottom: 50px;
    }

    .menu_title{
        h2{
            font-size: 24px;
        }
    }

    .menu_elmnt{
        li {
            font-size: 20px;
            width: 80%;
            padding-left: 10%;
        }
    }

    footer{
        button{
            font-size: 18px;
        }
    }
}

@media all and (min-width: 1024px) and (max-width: 1865px)
{
    main{
        width: 70%;
    }

    .menu_title{
        h2{
            font-size: 29px;
        }
    }

    .menu_elmnt{
        li{
            width: 83%;
            font-size: 24px;
            padding-left: 9%;
        }
    }

    footer{
        button{
            font-size: 21px;
        }
    }
}

@media all and (min-width: 1440px) and (max-width: 1865px)
{
    #menu-header{
        i{
            font-size: 70px;
        }

        h2{
            font-size: 45px;
        }
    }

    .menu_title {
        h2{
            font-size: 30px;
        }
    }

    .menu_elmnt{
        li{
            font-size: 28px;
            width: 70%;
            padding-left: 15%;
        }
    }

    footer button{
        font-size: 21px;
    }
}

@media all and (min-width: 2560px)
{
    header{
        height: 126px;

        h1{
            font-size: 80px;
            padding-top: 0px;
        }
    }

    h2{
        font-size: 50px;
    }

    main{
        width: 80%;
    }

    #menu-header{
        i{
            font-size: 100px;
        }

        h2{
            font-size: 70px;
            margin: auto;
        }
    }

    .menu_title{
        h2{
            font-size: 50px;
        }
    }

    .menu_elmnt{
        li{
            font-size: 43px;
        }

        p{
            line-height: 90px;
        }
    }

    #menu1-footer{
        i{
            font-size: 100px;
        }

        h2{
            font-size: 70px;
        }
    }

    footer{
        height: 100px;

        button{
            font-size: 35px;
        }
    }

}