@import '_variables.scss';
@import '_mixins.scss';

@font-face {
    font-family: "montserratbold";
    src: url("./polices/montserrat-bold-webfont.woff2") format("woff2"),
         url("./polices/montserrat-bold-webfont.woff") format("woff");
}

@font-face {
    font-family: "croissant_oneregular";
    src: url("./polices/croissantone-regular-webfont.woff2") format("woff2"),
         url("./polices/croissantone-regular-webfont.woff") format("woff");
}

html {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color: #fff5fe;
}

header{
    @include header;
}

main{
    width: 60%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: $color-back-menu2;
    margin: auto;
    margin-bottom: 100px;

}

#menu-header {
    text-align: center;
    padding-top: 20px;
    margin-top: 7%;

    h2 {
        font-size: 40px;
        font-family: "croissant_oneregular";
        background: rgb(227,138,18);
        background: linear-gradient(90deg, rgba(227,138,18,1) 10%, rgba(101,28,255,1) 87%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.menu_title{
    display: flex;
    justify-content: center;
    align-items: center;

    h2{
        @include title-h2-animation;
    }

    :hover{
        background-size: 100% 100%;
    }
}

#title-first{
    h2{
        color: $color-menu2;
    }

    :before{
        display: inline-block;
        justify-content: space-between;
        margin: 0 20px 2px 0;
        height: 4px;
        content: " ";
        text-shadow: none;
        background-color: black;
        width: 250px;

    }

    :after{
        display: inline-block;
        justify-content: space-between;
        margin: 0 0 2px 20px;
        height: 4px;
        content: " ";
        text-shadow: none;
        background-color: black;
        width: 250px;
    }
}

#elmnt-first{
    color: $color-menu2;
}

.menu_elmnt{
    margin: 0;
    padding: 15px 0px 71px 0px;

    li{
        display: flex;
        justify-content: space-between;
        width: 62%;
        font-size: 24px;
        padding-left: 19%;
    }

    p{
        margin: 0px;
        line-height: 50px;
    }
}

#title-second{
    h2 {
        color: #9a4a9b;
    }

    :before{
        display: inline-block;
        justify-content: space-between;
        margin: 0 51px 2px 0;
        height: 4px;
        content: " ";
        text-shadow: none;
        background-color: black;
        width: 250px;

    }

    :after{
        display: inline-block;
        justify-content: space-between;
        margin: 0 0 2px 60px;
        height: 4px;
        content: " ";
        text-shadow: none;
        background-color: black;
        width: 250px;
    }

}

#elmnt-second{
    color: #9a4a9b;
}

#title-third{ 
    h2 {
        color: $color2-menu2;
    }

    :before{
        display: inline-block;
        justify-content: space-between;
        margin: 0 35px 2px 0;
        height: 4px;
        content: " ";
        text-shadow: none;
        background-color: black;
        width: 250px;

    }

    :after{
        display: inline-block;
        justify-content: space-between;
        margin: 0 0 2px 35px;
        height: 4px;
        content: " ";
        text-shadow: none;
        background-color: black;
        width: 250px;
    }
}

#elmnt-third{
    color: $color2-menu2;
}

footer {
    @include footer;

    #left{
        @include footer-button;
    }
    #left:hover{
        animation: shake 0.8s infinite;
    }
    
    #right{
        @include footer-button;
    }
    #right:hover{
        animation: shake 0.8s infinite;
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
        transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(2px, 0, 0);
    }
}

@media all and (min-width: 320px) and (max-width: 767px)
{
    header{
        height: 83px;

        h1{
            font-size: 40px;
        }
    }
    
    main{
        width: 90%;
        margin-bottom: 15%;
    }

    #menu-header{
        margin-top: 15%;

        h2{
            font-size: 23px;
        }
    }

    .menu_title{
        h2{
            font-size: 17px;
        }
    }

    #title-first{
        h2{
            margin: 0px;
            
        :before{
            width: 50px;
        }
    
        :after{
            width: 50px;
        }
        }
    }

    #title-second{
        h2{
            margin: 0px;
            :before{
                width: 50px;
            }
    
            :after{
                width: 50px;
            }
        }
    }

    #title-thrid{
        h2{
            margin: 0px;
            :before{

            }
    
            :after{
    
            }
        }
    }

    .menu_elmnt{
        padding: 17px;

        li{
            display: initial;
            font-size: 16px;
        }

        p{
            line-height: 25px;
            text-align: center;
            width: 97%;
        }
    }

    footer{
        margin-top: 18%;
        height: 50px;

        button{
            font-size: 17px;
        }
    }
}

@media all and (min-width: 768px) and (max-width: 1023px)
{
    main{
        width: 90%;
    }

    #menu-header{
        h2{
            font-size: 35px;
        }
    }

    .menu_title{
        h2{
            font-size: 24px;
        }
    }

    .menu_elmnt{
        li {
            font-size: 18px;
            width: 80%;
            padding-left: 10%;
        }
    }

    footer{
        height: 60px;

        button{
            font-size: 20px;
        }
    } 
}

@media all and (min-width: 1024px) and (max-width: 1865px)
{
    main{
        width: 70%;
    }

    .menu_title{
        h2{
            font-size: 25px;
        }
    }

    .menu_elmnt{
        li{
            width: 83%;
            font-size: 20px;
            padding-left: 9%;
        }
    }

    footer button{
        font-size: 20px;
    }
}

@media all and (min-width: 1440px) and (max-width: 1865px)
{
    #menu-header{
        i{
            font-size: 70px;
        }

        h2{
            font-size: 45px;
        }
    }

    .menu_title {
        h2{
            font-size: 28px;
        }
    }

    .menu_elmnt{
        li{
            font-size: 23px;
            width: 70%;
            padding-left: 15%;
        }
    }

    footer button{
        font-size: 21px;
    }
}

@media all and (min-width: 2560px)
{
    header{
        height: 150px;

        h1{
            font-size: 100px;
            padding-top: 0px;
        }
    }

    h2{
        font-size: 50px;
    }

    main{
        width: 80%;
    }

    #menu-header{

        h2{
            font-size: 70px;
        }
    }

    .menu_elmnt{
        li{
            font-size: 43px;
            width: 60%;
            padding-left: 21%;
        }

        p{
            line-height: 90px;
        }
    }

    footer{
        margin-top: 8%;
        height: 125px;
    }

    footer button{
        font-size: 50px;
    }

}