@import '_variables.scss';
@import '_mixins.scss';

@font-face {
    font-family: "zhi_mang_xingregular";
    src: url("./polices/zhimangxing-regular-webfont.woff2") format("woff2"),
         url("./polices/zhimangxing-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "montserratbold";
    src: url("./polices/montserrat-bold-webfont.woff2") format("woff2"),
         url("./polices/montserrat-bold-webfont.woff") format("woff");
}

@font-face {
    font-family: "short_stackregular";
    src: url("./polices/shortstack-regular-webfont.woff2") format("woff2"),
         url("./polices/shortstack-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Devonshire-Regular";
    src: url("./polices/Devonshire-Regular.ttf") format("truetype");
}

html {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
}
header{
    @include header;
}


h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 2%;;
}

main{
    width: 65%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #fcdfdb;
    margin: auto;
    margin-bottom: 100px;

}

#menu-header {
    text-align: center;
    padding-top: 40px;

    i{
        background: rgb(240,80,96);
        background: linear-gradient(90deg, rgba(240,80,96,1) 50%, rgba(244,136,24,1) 100%); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 60px;
    }

    h2 {
        color: #000;
        font-family: "Devonshire-Regular";
        font-size: 40px;
        margin: 0;
        padding: 6px 0px 30px 0px;
    }
}

.menu_title{
    display: flex;
    justify-content: center;
    align-items: center;
    h2{
        @include title-h2-animation;
        font-family: "Devonshire-Regular";
        margin: 0;
        &:hover{
            -webkit-background-size: 100% 100%;
            -moz-background-size: 100% 100%;
            -ms-background-size: 100% 100%;
            -o-background-size: 100% 100%;
        }
    }
}


.menu_elmnt{
    margin: 0;
    padding: 15px 0px 80px 0px;

    li{
        display: flex;
        justify-content: space-between;
        width: 66%;
        font-size: 18px;
        padding-left: 17%;
    }

    p{
        margin: 0px;
        line-height: 50px;
        font-family: "short_stackregular";
    }
}

#title-first:before{
    display: inline-block;
    justify-content: space-between;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: black;
    width: 200px;
    margin: 0 155px 2px 0;
}

#title-first:after{
    display: inline-block;
    justify-content: space-between;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: black;
    width: 200px;
    margin: 0 0px 2px 155px;
}

#title-second:before{
    display: inline-block;
    justify-content: space-between;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: black;
    width: 200px;
    margin: 0 120px 2px 0;
}

#title-second:after{
    display: inline-block;
    justify-content: space-between;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: black;
    width: 200px;
    margin: 0 0px 2px 120px;
}

#title-third:before{
    display: inline-block;
    justify-content: space-between;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: black;
    width: 200px;
    margin: 0 90px 2px 0;
}

#title-third:after{
    display: inline-block;
    justify-content: space-between;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: black;
    width: 200px;
    margin: 0 0px 2px 90px;
}

#menu1-footer{
    text-align: center;
    padding: 0px 0px 75px 0px;

    i{
        background: rgb(240,80,96);
        background: linear-gradient(90deg, rgba(240,80,96,1) 50%, rgba(244,136,24,1) 100%); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 60px;
    }

    h2 {
        color: #000;
        font-family: "zhi_mang_xingregular";
        font-size: 40px;
    }
}

footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    @include footer;

    #left{
        @include footer-button;
    }
    #left:hover{
        animation: shake 0.8s infinite;
    }
    
    #right{
        @include footer-button;
    }
    #right:hover{
        animation: shake 0.8s infinite;
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
        transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(2px, 0, 0);
    }
}

@media all and (min-width: 320px) and (max-width: 767px)
{
    header{
        height: 83px;

        h1{
            font-size: 40px;
        }
    }

    h2{
        margin-bottom: 7%;
        font-size: 26px;
    }
    
    main{
        width: 90%;
        margin-bottom: 40%;
    }

    #menu-header{
        i{
            font-size: 50px;
        }

        h2{
            font-size: 30px;
        }
    }

    .menu_title{
        h2{
            font-size: 18px;
            padding: 0;
            @include title-h2-animation;
            font-family: "short_stackregular";
            margin: 0;
            &:hover{
                -webkit-background-size: 0;
                -moz-background-size: 0;
                -ms-background-size: 0;
                -o-background-size: 0;
            }
        }
    }

    #title-first:before{
        margin: 0px 52px 0px 0;
        height: 2px;
        width: 50px;
    }

    #title-first:after {
        margin: 0 0 0px 52px;
        height: 2px;
        width: 50px;
    }

    #title-second:before{
        margin: 0px 22px 0px 0;
        height: 2px;
        width: 50px;
    }
        
    #title-second:after {
        margin: 0 0 0px 22px;
        height: 2px;
        width: 50px;
    }

    #title-third:before{
        margin: 0px 4px 0px 0;
        height: 2px;
        width: 50px;
    }
        
    #title-third:after {
        margin: 0px 0px 0px 4px;
        height: 2px;
        width: 50px;
    }

    .menu_elmnt{
        padding: 17px;

        li{
            display: initial;
            font-size: 12px;
            padding-left: 0;
        }

        p{
            line-height: 20px;
            text-align: center;
            width: 97%;
        }
    }

    #menu1-footer {
        i{
            font-size: 50px;
        }

        h2{
            font-size: 30px;
        }
    }

    footer{
        margin-top: 18%;
        #left{
            display: flex;
            align-items: center;
            margin: auto;
        }

        #left:hover{
            animation: inherit;
        }

        #right{
            display: flex;
            align-items: center;
            margin: auto;
        }

        #right:hover{
            animation: inherit;
        }
    }
}

@media all and (min-width: 375px) and (max-width: 767px)
{
    #title-first:before{
        width: 70px;
    }

    #title-first:after {
        width: 70px;
    }

    #title-second:before{
        width: 70px;
    }
        
    #title-second:after {
        width: 70px;
    }

    #title-third:before{
        width: 70px;
    }
        
    #title-third:after {
        width: 70px;
    }
}

@media all and (min-width: 425px) and (max-width: 767px)
{
    main{
        margin-bottom: 35%;
    }

    #title-first:before{
        width: 90px;
    }

    #title-first:after {
        width: 90px;
    }

    #title-second:before{
        width: 90px;
    }
        
    #title-second:after {
        width: 90px;
    }

    #title-third:before{
        width: 90px;
    }
        
    #title-third:after {
        width: 90px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px)
{
    h2{
        margin-bottom: 4%;
    }

    main{
        width: 90%;
        margin-bottom: 21%;
    }

    .menu_title{
        h2{
            font-size: 24px;
            @include title-h2-animation;
            font-family: "short_stackregular";
            margin: 0;
            &:hover{
                -webkit-background-size: 0;
                -moz-background-size: 0;
                -ms-background-size: 0;
                -o-background-size: 0;
            }
        }
    }

    #title-first:before{
        height: 2px;
        width: 150px;
        margin: 0px 80px 0px 0px;
    }

    #title-first:after{
        height: 2px;
        width: 150px;
        margin: 0px 0px 0px 80px;
    }

    #title-second:before{
        margin: 0px 40px 0px 0px;
        height: 2px;
        width: 150px;
    }

    #title-second:after{
        margin: 0px 0px 0px 40px;
        height: 2px;
        width: 150px;
    }

    #title-third:before{
        margin: 0px 15px 0px 0px;
        height: 2px;
        width: 150px;
    }

    #title-third:after{
        margin: 0px 0px 0px 15px;
        height: 2px;
        width: 150px;
    }


    .menu_elmnt{
        li {
            font-size: 13px;
            width: 80%;
            padding-left: 10%;
        }
    }

    footer{
        #left{
            margin: 24px 20px;
        }

        #left:hover{
            animation: inherit;
        }

        #right{
            margin: 24px 20px;
        }

        #right:hover{
            animation: inherit;
        }
    }
}

@media all and (min-width: 1024px) and (max-width: 1865px)
{
    main{
        width: 89%;
        margin-bottom: 17%;
    }

    .menu_title{
        h2{
            font-size: 30px;
        }
    }

    #title-first:before{
        margin: 0px 110px 0px 0px;
        height: 2px;
        width: 210px;
    }

    #title-first:after {
        margin: 0px 0px 0px 110px;
        height: 2px;
        width: 210px;
    }

    #title-second:before{
        margin: 0px 90px 0px 0px;
        height: 2px;
        width: 210px;
    }

    #title-second:after{
        margin: 0px 0px 0px 90px;
        height: 2px;
        width: 210px;
    }

    #title-third:before{
        margin: 0px 70px 0px 0px;
        height: 2px;
        width: 210px;
    }

    #title-third:after{
        margin: 0px 0px 0px 70px;
        height: 2px;
        width: 210px;
    }

    .menu_elmnt{
        li{
            width: 78%;
            font-size: 17px;
            padding-left: 11%;
        }

        p{
            line-height: 35px;
        }
    }

    footer{
        #left{
            font-size: 20px;
            margin: 23px 10px;
        }
        #right{
            font-size: 20px;
            margin: 23px 10px;
        }
    }
}

@media all and (min-width: 1440px) and (max-width: 1865px)
{
    main{
        width: 69%;
        margin-bottom: 10%;
    }

    #menu-header{
        i{
            font-size: 70px;
        }

        h2{
            font-size: 45px;
        }
    }

    .menu_title {
        h2{
            font-size: 35px;
        }
    }

    #title-first:before{
        margin: 0px 95px 0px 0px;
        width: 220px;
    }

    #title-first:after{
        margin: 0px 0px 0px 95px; 
        width: 220px;
    }

    #title-second:before{
        margin: 0px 65px 0px 0px;
        width: 220px;
    }

    #title-second:after{
        margin: 0px 0px 0px 65px;
        width: 220px;
    }

    #title-third:before{
        margin: 0px 45px 0px 0px;
        width: 220px;
    }

    #title-third:after{
        margin: 0px 0px 0px 45px;
        width: 220px;
    }

    .menu_elmnt{
        li{
            width: 71%;
            padding-left: 14%;
            font-size: 18px;
        }

        p{
            line-height: 45px;
        }
    }

    footer{
        font-size: 21px;
    }
}

@media all and (min-width: 2560px)
{
    header{
        height: 150px;

        h1{
            font-size: 100px;
            padding-top: 0px;
        }
    }

    h2{
        font-size: 60px;
    }

    main{
        width: 70%;
        margin-bottom: 10%;
    }

    #menu-header{
        i{
            font-size: 100px;
        }

        h2{
            font-size: 70px;
        }
    }

    #title-first:before{
        margin: 0px 180px 0px 0px;
        width: 425px;
    }

    #title-first:after{
        margin: 0px 0px 0px 180px;
        width: 425px;
    }

    #title-second:before{
        margin: 0px 140px 0px 0px;
        width: 425px;
    }

    #title-second:after{
        margin: 0 0 0px 140px;
        width: 425px;
    }

    #title-third:before{
        margin: 0px 100px 0px 0px;
        width: 425px;
    }

    #title-third:after{
        margin: 0px 0px 2px 100px;
        width: 425px;
    }

    .menu_elmnt{
        li{
            font-size: 30px;
            width: 76%;
            padding-left: 12%;
        }

        p{
            line-height: 90px;
        }
    }

    #menu1-footer{
        i{
            font-size: 100px;
        }

        h2{
            font-size: 70px;
        }
    }

    footer{
        margin-top: 2%;
        height: 100px;
        #left{
            font-size: 35px;
            margin: 35px 20px;
        }

        #right{
            font-size: 35px;
            margin: 35px 20px;
        }
    }
}