@import '_variables.scss';
@import '_mixins.scss';

@font-face {
    font-family: "caveatregular";
    src: url("./polices/caveat-regular-webfont.woff2") format("woff2"),
         url("./polices/caveat-regular-webfont.woff") format("woff");
}




@font-face {
    font-family: "croissant_oneregular";
    src: url("./polices/croissantone-regular-webfont.woff2") format("woff2"),
         url("./polices/croissantone-regular-webfont.woff") format("woff");
}




@font-face {
    font-family: "dancing_scriptregular";
    src: url("./polices/dancingscript-variablefont_wght-webfont.woff2") format("woff2"),
         url("./polices/dancingscript-variablefont_wght-webfont.woff") format("woff");
}




@font-face {
    font-family: "kaushan_scriptregular";
    src: url("./polices/kaushanscript-regular-webfont.woff2") format("woff2"),
         url("./polices/kaushanscript-regular-webfont.woff") format("woff");
}


@font-face {
    font-family: "montserratbold";
    src: url("./polices/montserrat-bold-webfont.woff2") format("woff2"),
         url("./polices/montserrat-bold-webfont.woff") format("woff");
}




@font-face {
    font-family: "shadows_into_lightregular";
    src: url("./polices/shadowsintolight-regular-webfont.woff2") format("woff2"),
         url("./polices/shadowsintolight-regular-webfont.woff") format("woff");
}




@font-face {
    font-family: "short_stackregular";
    src: url("./polices/shortstack-regular-webfont.woff2") format("woff2"),
         url("./polices/shortstack-regular-webfont.woff") format("woff");
}




@font-face {
    font-family: "tinosregular";
    src: url("./polices/tinos-regular-webfont.woff2") format("woff2"),
         url("./polices/tinos-regular-webfont.woff") format("woff");
}




@font-face {
    font-family: "Devonshire-Regular";
    src: url("./polices/Devonshire-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "zhi_mang_xingregular";
    src: url("./polices/zhimangxing-regular-webfont.woff2") format("woff2"),
         url("./polices/zhimangxing-regular-webfont.woff") format("woff");
}

html {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
}

header{
    @include header;
}


#menus {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
}

.all_menus {
    width: 40%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 225px 0px 225px 0px;
    margin-top: 100px;
    text-align: center;

}

#menu-1{
    background-color: $color-back-menu1;
    margin-right: 20%;
    div{
        width: 100%;
        transition: all 0.8s;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -ms-transition: all 0.8s;
        -o-transition: all 0.8s;
    
        &:hover{
            opacity: 0.6;
            transform: scale(1.06);
            -webkit-transform: scale(1.06);
            -moz-transform: scale(1.06);
            -ms-transform: scale(1.06);
            -o-transform: scale(1.06);
        }
    }

    a{
        text-decoration: none;
    }

    i {
        font-size: 60px;
        background: rgb(253,29,29);
        background: linear-gradient(90deg, rgba(253,29,29,1) 50%, rgba(246,145,106,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h2 {
        color: #000;
        font-family: "Devonshire-Regular";
        font-size: $size-h2_menu-1-3;
        margin: 0;
    }

    h3 {
        font-family: "zhi_mang_xingregular";
        color: #000;
        font-size: $size-h3;
        margin: 15px;
    }
}

#menu-2{
    background-color: $color-back-menu2;
    div{
        width: 100%;
        transition: all 0.8s;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -ms-transition: all 0.8s;
        -o-transition: all 0.8s;
    
        &:hover{
            opacity: 0.6;
            transform: scale(1.06);
            -webkit-transform: scale(1.06);
            -moz-transform: scale(1.06);
            -ms-transform: scale(1.06);
            -o-transform: scale(1.06);
        }
    }

    a{
        text-decoration: none;
    }

    h2{
        font-family: "croissant_oneregular";
        font-size: 30px;
        background: rgb(227,138,18);
        background: linear-gradient(90deg, rgba(227,138,18,1) 25%, rgba(143,90,255,1) 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h3 {
        font-family: "tinosregular";
        color: #c77412;
        font-size: $size-h3;
        margin: 0;
    }
}

#menu-3{
    margin-right: 20%;
    background-color: $color-back-menu3;
    div{
        width: 100%;
        transition: all 0.8s;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -ms-transition: all 0.8s;
        -o-transition: all 0.8s;
    
        &:hover{
            opacity: 0.6;
            transform: scale(1.06);
            -webkit-transform: scale(1.06);
            -moz-transform: scale(1.06);
            -ms-transform: scale(1.06);
            -o-transform: scale(1.06);
        }
    }

    a{
        text-decoration: none;
    }

    h2 {
        background: rgb(0,21,133);
        background: linear-gradient(90deg, rgba(0,21,133,1) 0%, rgba(19,228,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "dancing_scriptregular";
        font-size: $size-h2_menu-1-3;
    }

    h3 {
        font-family: "shadows_into_lightregular";
        color: $color2-menu3;
        font-size: $size-h3;
        margin: 0;
    }
}

#menu-4 {
    background-color: $color-back-menu4;
    div{
        width: 100%;
        transition: all 0.8s;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -ms-transition: all 0.8s;
        -o-transition: all 0.8s;
    
        &:hover{
            opacity: 0.6;
            transform: scale(1.06);
            -webkit-transform: scale(1.06);
            -moz-transform: scale(1.06);
            -ms-transform: scale(1.06);
            -o-transform: scale(1.06);
        }
    }

    a{
        text-decoration: none;
    }

    h2{
        font-size: 40px;
        background: rgb(12,82,10);
        background: linear-gradient(90deg, rgba(12,82,10,1) 27%, rgba(124,208,46,1) 76%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "kaushan_scriptregular";
        
    }

    h3 {
        font-family: "shadows_into_lightregular";
        font-size: $size-h3;
        color: $color2-menu4;
        margin: 0;
    }  
}


#soon {
    text-align: center;
    display: flex;
    margin: 0 0 5% 44%;
    color: $color-secondary;
    background-color: $color-primary;
    font-size: 30px;
    padding: 12px 25px;
    border-radius: 9px;
    border: none;
    .loading {
        width: 12px;
        height: 12px;
        margin: 10px;
        background-color: #ffd957;
        border-radius: 50%;
        display: inline-block;
        animation-name: dots;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    :nth-child(2){
        animation-delay: 0.4s;
    }
    
    :nth-child(3){
        animation-delay: 0.8s;
    }
}


@keyframes dots{
    50%{
        opacity: 0;
        transform: scale(0.7) translateY(10px);
    }
}

footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    @include footer;

    #left{
        @include footer-button;
    }
    #left:hover{
        animation: shake 0.8s infinite;
    }
    
    #right{
        @include footer-button;
    }
    #right:hover{
        animation: shake 0.8s infinite;
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
        transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(2px, 0, 0);
    }
}

@media all and (min-width: 320px) and (max-width: 767px)
{
    header{
        width: auto;
    }

    #menus{
        display: initial;
        width: initial;
    }

    .separator{
        display: initial;
    }

    .all_menus{
        width: 80%;
        margin: 10.5%;
        padding: 125px 0px;
    }
    .all_menus a {
        transition: inherit;
        &:hover{
            transform: inherit;
        }
    }

    #menu-1{
        i{
            font-size: 45px;
        }

        h2{
            font-size: 35px;
        }

        h3{
            font-size: 36px;
        }
    }

    #menu-2{
        h2{
            font-size: 21px;
        }

        h3{
            font-size: 36px;
        }
    }

    #menu-3{
        h2{
            font-size: 30px;
        }

        h3{
            line-height: 45px;
            font-size: 36px;
        }
    }

    #menu-4{
        a{
            h2{
                font-size: 29px;
                margin: 0;
            }
    
            h3{
                font-size: 38px;
            }
        }
    }

    #soon {
        margin: 0 0 32% 12%;
        font-size: 18px;
        border-radius: 9px;
        .loading {
            width: 8px;
            height: 8px;
            margin: 0px 7px;
        }
    }

    footer{
        margin-top: 0;

        #left{
            margin: auto;
        }
        #left:hover{
            animation: inherit;
        }

        #right{
            margin: auto;
        }
        
        #right:hover{
            animation: inherit;
        }
    }
}

@media all and (min-width: 375px) and (max-width: 424px)
{
    #soon{
        margin: 0 0 30% 18%;
    }
}

@media all and (min-width: 425px) and (max-width: 767px)
{
    #soon{
        margin: 0 0 27% 23%;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px)
{
    #menus{
        width: 75%;
    }

    .all_menus{
        margin-top: 50px;
        padding: 100px 0px;
    }

    .all_menus a {
        transition: inherit;
        &:hover{
            transform: inherit;
        }
    }

    #menu-1{
        a{
            i{
                font-size: 40px;
            }
    
            h2{
                font-size: 35px;
            }
    
            h3{
                font-size: 36px;
            }
        }
    }

    #menu-2{
        a{
            h2{
                font-size: 19px;
            }
    
            h3{
                font-size: 36px;
            }
        }
    }

    #menu-3{
        a{
            h2{
                font-size: 28px;
            }
    
            h3{
                font-size: 36px;
            }
        }
    }

    #menu-4{
        a{
            h2{
                font-size: 28px;
            }
    
            h3{
                font-size: 38px;
            }
        }
    }

    #soon{
        margin: 0 0 15% 33%;
        font-size: 20px;
        .loading{
            width: 9px;
            height: 9px;
            margin: 2px 10px;
        }
    }

    footer{
        #left{
            margin: 24px 20px;
            #left:hover{
                animation: inherit;
            }
        }

        #right{
            margin: 24px 20px;
            #right:hover{
                animation: inherit;
            }
        }
    }
}

@media all and (min-width: 1024px) and (max-width: 1439px)
{
    .all_menus{
        padding: 150px 0px;
    }

    #menu-1{
        a{
            i{
                font-size: 50px;
            }
    
            h2{
                font-size: 39px;
            }
    
            h3{
                font-size: 40px;
            }
        }
    }

    #menu-2{
        a{
            h2{
                font-size: 20px;
            }
    
            h3{
                font-size: 40px;
            }
        }
    }
    
    #menu-3{
        a{
            h2{
                font-size: 32px;
            }
    
            h3{
                font-size: 40px;
            }
        }
    }

    #menu-4{
        a{
            h2{
                font-size: 31px;
            }
    
            h3{
                font-size: 40px;
            }
        }
    }

    #soon{
        margin: 0 0 11% 36%;
        font-size: 22px;
        .loading {
            width: 10px;
            height: 10px;
        }
    }

    footer{
        #left{
            font-size: 20px;
            margin: 23px 10px;
        }
        #right{
            font-size: 20px;
            margin: 23px 10px;
        }
    } 
}

@media all and (min-width: 1440px) and (max-width: 2559px)
{
    .all_menus a{
        top: 34%;
    }

    #menus{
        margin-bottom: 75px;
    }

    #menu-2{
        a{
            h2{
                font-size: 28px;
            }
        }
    }

    #soon{
        margin: 0 0 8% 38%;
        .loading {
            margin: 10px 9px;
        }
    }

    footer{
        #left{
            font-size: 25px;
            margin: 20px 10px;
        }
        #right{
            font-size: 25px;
            margin: 20px 10px;
        }
    }
}

@media all and (min-width: 2560px){
    header{
        height: 180px;

        h1{
            font-size: 100px;
        }
    }

    #menus{
        margin-bottom: 116px;
    }

    .all_menus{
       padding: 350px 0px;
    }

    #menu-1{
        a{
            i{
                font-size: 100px;
            }
    
            h2{
                font-size: 75px;
            }
    
            h3{
                font-size: 65px;
            }
        }
    }

    #menu-2{
        a{
            h2{
                font-size: 48px;
            }
    
            h3{
                font-size: 65px;
            }
        }
    }

    #menu-3{
        a{
            h2{
                font-size: 73px;
            }
    
            h3{
                font-size: 65px;
            }
        }
    }

    #menu-4{
        a{
            h2{
                font-size: 67px;
            }
    
            h3{
                font-size: 65px;
            }
        }
    }

    #soon{
        margin: 0 0 9% 41%;
        font-size: 55px;
        border-radius: 18px;
        padding: 22px 41px;
        .loading{
            width: 25px;
            height: 25px;
            margin: 22px 14px;
        }
    }

    footer{
        margin-top: 2%;
        height: 120px;
        #left{
            font-size: 35px;
            margin: 40px 20px;
        }

        #right{
            font-size: 35px;
            margin: 40px 20px;
        }
    }
}