@font-face {
  font-family: "montserratbold";
  src: url("/polices/montserrat-bold-webfont.woff2") format("woff2"), url("/polices/montserrat-bold-webfont.woff") format("woff");
  font-weight: "normal";
  font-style: "normal";
}
@font-face {
  font-family: "croissant_oneregular";
  src: url("/polices/croissantone-regular-webfont.woff2") format("woff2"), url("/polices/croissantone-regular-webfont.woff") format("woff");
  font-weight: "normal";
  font-style: "normal";
}
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #fff5fe;
}

header {
  background-color: #579C87;
  height: 100px;
  font-family: "montserratbold";
  text-decoration: none;
}
header h1 {
  color: #FDCB46;
  text-align: center;
  margin: 0;
  font-size: 50px;
  padding-top: 11px;
}
header a {
  text-decoration: none;
}

main {
  width: 65%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #fff5fe;
  margin: auto;
  margin-bottom: 100px;
}

#menu-header {
  text-align: center;
  padding-top: 20px;
  margin-top: 7%;
}
#menu-header h2 {
  font-size: 40px;
  font-family: "croissant_oneregular";
  background: #e38a12;
  background: linear-gradient(90deg, #e38a12 10%, #651cff 87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu_title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_title :before {
  display: inline-block;
  justify-content: space-between;
  margin: 0 20px 2px 0;
  height: 4px;
  content: " ";
  text-shadow: none;
  background-color: black;
  width: 250px;
}
.menu_title :after {
  display: inline-block;
  justify-content: space-between;
  margin: 0 0 2px 20px;
  height: 4px;
  content: " ";
  text-shadow: none;
  background-color: black;
  width: 250px;
}
.menu_title h2 {
  position: relative;
  padding: 5px;
  margin: 0;
  color: inherit;
  text-decoration: none;
  background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s;
}
.menu_title :hover {
  background-size: 100% 100%;
}

#title-first h2 {
  color: #e38a12;
}

#elmnt-first {
  color: #e38a12;
}

.menu_elmnt {
  margin: 0;
  padding: 15px 0px 71px 0px;
}
.menu_elmnt li {
  display: flex;
  justify-content: space-between;
  width: 48%;
  font-size: 24px;
  padding-left: 26%;
}
.menu_elmnt p {
  margin: 0px;
  line-height: 50px;
}

#title-second h2 {
  color: #9a4a9b;
  padding: 0px 45px;
}

#elmnt-second {
  color: #9a4a9b;
}

#title-third h2 {
  color: #651cff;
  padding: 0px 25px;
}

#elmnt-third {
  color: #651cff;
}

footer {
  height: 70px;
  width: 100%;
  background-color: #579C87;
  display: flex;
  justify-content: space-between;
}

footer button {
  height: 100%;
  padding: 17px;
  font-size: 22px;
  background-color: #579C87;
  border: none;
  color: #FDCB46;
}

footer button:hover {
  animation: shake 0.8s infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}
@media all and (min-width: 320px) and (max-width: 767px) {
  header {
    height: 83px;
  }
  header h1 {
    font-size: 40px;
  }

  main {
    width: 90%;
    margin-bottom: 15%;
  }

  #menu-header {
    margin-top: 15%;
  }
  #menu-header h2 {
    font-size: 23px;
  }

  .menu_title h2 {
    font-size: 17px;
  }

  .menu_elmnt {
    padding: 17px;
  }
  .menu_elmnt li {
    display: initial;
    font-size: 16px;
  }
  .menu_elmnt p {
    line-height: 25px;
    text-align: center;
    width: 97%;
  }

  footer {
    margin-top: 18%;
    height: 50px;
  }
  footer button {
    font-size: 17px;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  main {
    width: 90%;
  }

  #menu-header h2 {
    font-size: 35px;
  }

  .menu_title h2 {
    font-size: 24px;
  }

  .menu_elmnt li {
    font-size: 18px;
    width: 80%;
    padding-left: 10%;
  }

  footer {
    height: 60px;
  }
  footer button {
    font-size: 20px;
  }
}
@media all and (min-width: 1024px) and (max-width: 2559px) {
  main {
    width: 70%;
  }

  .menu_title h2 {
    font-size: 25px;
  }

  .menu_elmnt li {
    width: 83%;
    font-size: 20px;
    padding-left: 9%;
  }

  footer button {
    font-size: 20px;
  }
}
@media all and (min-width: 1440px) and (max-width: 2559px) {
  #menu-header i {
    font-size: 70px;
  }
  #menu-header h2 {
    font-size: 45px;
  }

  .menu_title h2 {
    font-size: 28px;
  }

  .menu_elmnt li {
    font-size: 23px;
    width: 70%;
    padding-left: 15%;
  }

  footer button {
    font-size: 21px;
  }
}
@media all and (min-width: 2560px) {
  header {
    height: 150px;
  }
  header h1 {
    font-size: 100px;
    padding-top: 0px;
  }

  h2 {
    font-size: 50px;
  }

  main {
    width: 80%;
  }

  #menu-header h2 {
    font-size: 70px;
  }

  .menu_elmnt li {
    font-size: 43px;
    width: 60%;
    padding-left: 21%;
  }
  .menu_elmnt p {
    line-height: 90px;
  }

  footer {
    margin-top: 8%;
    height: 125px;
  }

  footer button {
    font-size: 50px;
  }
}

/*# sourceMappingURL=menu2.css.map */
