@font-face {
  font-family: "montserratbold";
  src: url("./polices/montserrat-bold-webfont.woff2") format("woff2"), url("./polices/montserrat-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "caveatregular";
  src: url("./polices/caveat-regular-webfont.woff2") format("woff2"), url("./polices/caveat-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "dancing_scriptregular";
  src: url("./polices/dancingscript-variablefont_wght-webfont.woff2") format("woff2"), url("./polices/dancingscript-variablefont_wght-webfont.woff") format("woff");
}
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

header {
  background-color: #579C87;
  height: 100px;
  font-family: "montserratbold";
  text-decoration: none;
}
header h1 {
  color: #FDCB46;
  text-align: center;
  margin: 0;
  font-size: 50px;
  padding-top: 11px;
}
header a {
  text-decoration: none;
}

main {
  width: 65%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #edefef;
  margin: auto;
  margin-bottom: 100px;
}

#menu-header {
  text-align: center;
  padding-top: 20px;
  margin-top: 7%;
  background: #001585;
  background: linear-gradient(90deg, #001585 0%, #13e4ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menu-header h2 {
  font-size: 50px;
  font-family: "dancing_scriptregular";
  color: #001585;
  margin: 0;
}

.menu_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_elmnt {
  margin: 0;
  padding: 15px 0px 71px 0px;
}
.menu_elmnt li {
  display: flex;
  justify-content: space-between;
  width: 58%;
  font-size: 30px;
  padding-left: 20%;
}
.menu_elmnt p {
  margin: 0px;
  line-height: 50px;
  font-family: "caveatregular";
}

#title-first :before {
  display: inline-block;
  justify-content: space-between;
  margin: 0 20px 2px 0;
  height: 4px;
  content: " ";
  text-shadow: none;
  background-color: #001585;
  width: 290px;
}
#title-first h2 {
  background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s;
  font-family: "caveatregular";
  font-size: 40px;
  margin: 0;
}
#title-first :hover {
  background-size: 100% 100%;
}
#title-first :after {
  display: inline-block;
  justify-content: space-between;
  margin: 0 0 2px 20px;
  height: 4px;
  content: " ";
  text-shadow: none;
  background-color: #001585;
  width: 290px;
}

#title-second :before {
  display: inline-block;
  justify-content: space-between;
  margin: 0 28px 2px 0;
  height: 4px;
  content: " ";
  text-shadow: none;
  background-color: #086cb8;
  width: 290px;
}
#title-second h2 {
  background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s;
  font-family: "caveatregular";
  font-size: 40px;
  margin: 0;
}
#title-second :hover {
  background-size: 100% 100%;
}
#title-second :after {
  display: inline-block;
  justify-content: space-between;
  margin: 0 0 2px 39px;
  height: 4px;
  content: " ";
  text-shadow: none;
  background-color: #086cb8;
  width: 290px;
}

#title-third :before {
  display: inline-block;
  justify-content: space-between;
  margin: 0 36px 2px 0;
  height: 4px;
  content: " ";
  text-shadow: none;
  background-color: #84caff;
  width: 290px;
}
#title-third h2 {
  background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s;
  font-family: "caveatregular";
  font-size: 40px;
  margin: 0;
}
#title-third :hover {
  background-size: 100% 100%;
}
#title-third :after {
  display: inline-block;
  justify-content: space-between;
  margin: 0 0 2px 36px;
  height: 4px;
  content: " ";
  text-shadow: none;
  background-color: #84caff;
  width: 290px;
}

footer {
  height: 70px;
  width: 100%;
  background-color: #579C87;
  display: flex;
  justify-content: space-between;
}
footer #left {
  font-size: 22px;
  padding: 23px;
  background-color: #579C87;
  font-family: sans-serif;
  text-decoration: none;
  border: none;
  color: #FDCB46;
}
footer #left:hover {
  animation: shake 0.8s infinite;
}
footer #right {
  font-size: 22px;
  padding: 23px;
  background-color: #579C87;
  font-family: sans-serif;
  text-decoration: none;
  border: none;
  color: #FDCB46;
}
footer #right:hover {
  animation: shake 0.8s infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}
@media all and (min-width: 320px) and (max-width: 767px) {
  h2 {
    margin-bottom: 7%;
  }

  main {
    width: 90%;
    margin-bottom: 12%;
  }

  #menu-header {
    margin-top: 12%;
  }
  #menu-header h2 {
    font-size: 35px;
  }

  #title-first h2 {
    margin: 0px;
    font-size: 20px;
  }
  #title-first :before {
    width: 60px;
    height: 2px;
    margin: 0px 10px 4px 0px;
  }
  #title-first :after {
    width: 60px;
    height: 2px;
    margin: 0px 0px 4px 10px;
  }

  #title-second h2 {
    margin: 0px;
    font-size: 20px;
  }
  #title-second :before {
    width: 60px;
    height: 2px;
    margin: 0px 10px 4px 0px;
  }
  #title-second :after {
    width: 60px;
    height: 2px;
    margin: 0px 0px 4px 10px;
  }

  #title-third h2 {
    margin: 0px;
    font-size: 20px;
  }
  #title-third :before {
    width: 60px;
    height: 2px;
    margin: 0px 10px 4px 0px;
  }
  #title-third :after {
    width: 60px;
    height: 2px;
    margin: 0px 0px 4px 10px;
  }

  .menu_elmnt {
    padding: 17px;
  }
  .menu_elmnt li {
    display: initial;
    font-size: 19px;
  }
  .menu_elmnt p {
    line-height: 25px;
    text-align: center;
    width: 97%;
  }

  footer {
    margin-top: 7%;
  }
  footer button {
    font-size: 18px;
  }
}
@media all and (min-width: 375px) and (max-width: 424px) {
  #title-first :before {
    width: 80px;
  }
  #title-first :after {
    width: 80px;
  }

  #title-second :before {
    width: 80px;
  }
  #title-second :after {
    width: 80px;
  }

  #title-third :before {
    width: 80px;
  }
  #title-third :after {
    width: 80px;
  }
}
@media all and (min-width: 425px) and (max-width: 767px) {
  #title-first :before {
    width: 100px;
  }
  #title-first :after {
    width: 100px;
  }

  #title-second :before {
    width: 100px;
  }
  #title-second :after {
    width: 100px;
  }

  #title-third :before {
    width: 100px;
  }
  #title-third :after {
    width: 100px;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  h2 {
    margin-bottom: 4%;
  }

  main {
    width: 78%;
    margin-bottom: 50px;
  }

  .menu_title h2 {
    font-size: 24px;
  }

  #title-first h2 {
    margin: 0px;
  }
  #title-first :before {
    width: 125px;
    height: 2px;
    margin: 0px 15px 4px 0px;
  }
  #title-first :after {
    width: 125px;
    height: 2px;
    margin: 0px 0px 4px 15px;
  }

  #title-second h2 {
    margin: 0px;
  }
  #title-second :before {
    width: 125px;
    height: 2px;
    margin: 0px 22px 4px 0px;
  }
  #title-second :after {
    width: 125px;
    height: 2px;
    margin: 0px 0px 4px 22px;
  }

  #title-third h2 {
    margin: 0px;
  }
  #title-third :before {
    width: 125px;
    height: 2px;
    margin: 0px 32px 4px 0px;
  }
  #title-third :after {
    width: 125px;
    height: 2px;
    margin: 0px 0px 4px 32px;
  }

  .menu_elmnt li {
    font-size: 20px;
    width: 80%;
    padding-left: 10%;
  }

  footer button {
    font-size: 18px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1865px) {
  main {
    width: 70%;
  }

  .menu_title h2 {
    font-size: 29px;
  }

  #title-first h2 {
    margin: 0px;
  }
  #title-first :before {
    width: 175px;
    height: 3px;
    margin: 0px 25px 4px 0px;
  }
  #title-first :after {
    width: 175px;
    height: 3px;
    margin: 0px 0px 4px 25px;
  }

  #title-second h2 {
    margin: 0px;
  }
  #title-second :before {
    width: 175px;
    height: 3px;
    margin: 0px 32px 4px 0px;
  }
  #title-second :after {
    width: 175px;
    height: 3px;
    margin: 0px 0px 4px 32px;
  }

  #title-third h2 {
    margin: 0px;
  }
  #title-third :before {
    width: 175px;
    height: 3px;
    margin: 0px 42px 4px 0px;
  }
  #title-third :after {
    width: 175px;
    height: 3px;
    margin: 0px 0px 4px 42px;
  }

  .menu_elmnt li {
    width: 83%;
    font-size: 24px;
    padding-left: 9%;
  }

  footer button {
    font-size: 21px;
  }
}
@media all and (min-width: 1440px) and (max-width: 1865px) {
  #menu-header i {
    font-size: 70px;
  }
  #menu-header h2 {
    font-size: 45px;
  }

  .menu_title h2 {
    font-size: 30px;
  }

  #title-first h2 {
    margin: 0px;
  }
  #title-first :before {
    width: 250px;
    height: 3px;
    margin: 0px 78px 4px 0px;
  }
  #title-first :after {
    width: 250px;
    height: 3px;
    margin: 0px 0px 4px 78px;
  }

  #title-second h2 {
    margin: 0px;
  }
  #title-second :before {
    width: 250px;
    height: 3px;
    margin: 0px 85px 4px 0px;
  }
  #title-second :after {
    width: 250px;
    height: 2px;
    margin: 0px 0px 4px 85px;
  }

  #title-third h2 {
    margin: 0px;
  }
  #title-third :before {
    width: 250px;
    height: 2px;
    margin: 0px 95px 4px 0px;
  }
  #title-third :after {
    width: 250px;
    height: 2px;
    margin: 0px 0px 4px 95px;
  }

  .menu_elmnt li {
    font-size: 28px;
    width: 70%;
    padding-left: 15%;
  }

  footer button {
    font-size: 21px;
  }
}
@media all and (min-width: 2560px) {
  header {
    height: 126px;
  }
  header h1 {
    font-size: 80px;
    padding-top: 0px;
  }

  h2 {
    font-size: 50px;
  }

  main {
    width: 80%;
  }

  #menu-header i {
    font-size: 100px;
  }
  #menu-header h2 {
    font-size: 70px;
    margin: auto;
  }

  .menu_title h2 {
    font-size: 50px;
  }

  #title-first h2 {
    margin: 0px;
  }
  #title-first :before {
    width: 500px;
    height: 3px;
    margin: 0px 78px 4px 0px;
  }
  #title-first :after {
    width: 500px;
    height: 3px;
    margin: 0px 0px 4px 78px;
  }

  #title-second h2 {
    margin: 0px;
  }
  #title-second :before {
    width: 500px;
    height: 3px;
    margin: 0px 115px 4px 0px;
  }
  #title-second :after {
    width: 500px;
    height: 2px;
    margin: 0px 0px 4px 115px;
  }

  #title-third h2 {
    margin: 0px;
  }
  #title-third :before {
    width: 500px;
    height: 2px;
    margin: 0px 95px 4px 0px;
  }
  #title-third :after {
    width: 500px;
    height: 2px;
    margin: 0px 0px 4px 95px;
  }

  .menu_elmnt li {
    font-size: 43px;
  }
  .menu_elmnt p {
    line-height: 90px;
  }

  footer button {
    font-size: 21px;
  }
}

/*# sourceMappingURL=menu3.css.map */
