@font-face {
  font-family: "montserratbold";
  src: url("/polices/montserrat-bold-webfont.woff2") format("woff2"), url("/polices/montserrat-bold-webfont.woff") format("woff");
  font-weight: "normal";
  font-style: "normal";
}
@font-face {
  font-family: "kaushan_scriptregular";
  src: url("/polices/kaushanscript-regular-webfont.woff2") format("woff2"), url("/polices/kaushanscript-regular-webfont.woff") format("woff");
  font-weight: "normal";
  font-style: "normal";
}
@font-face {
  font-family: "caveatregular";
  src: url("/polices/caveat-regular-webfont.woff2") format("woff2"), url("/polices/caveat-regular-webfont.woff") format("woff");
  font-weight: "normal";
  font-style: "normal";
}
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

header {
  background-color: #579C87;
  height: 100px;
  font-family: "montserratbold";
  text-decoration: none;
}
header h1 {
  color: #FDCB46;
  text-align: center;
  margin: 0;
  font-size: 50px;
  padding-top: 11px;
}
header a {
  text-decoration: none;
}

article {
  width: 65%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #edefef;
  margin: auto;
}

#menu-header {
  text-align: center;
  padding-top: 20px;
  margin-top: 7%;
}
#menu-header h2 {
  font-size: 40px;
  color: #001585;
  font-family: "kaushan_scriptregular";
}

.menu_title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_title h2 {
  position: relative;
  padding: 0px 50.5px;
  margin: 0;
  color: inherit;
  text-decoration: none;
  background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
  font-family: "caveatregular";
  font-size: 33px;
}
.menu_title :hover {
  background-size: 100% 100%;
}

.menu_elmnt {
  margin: 0;
  padding: 15px 0px 71px 0px;
}
.menu_elmnt li {
  display: flex;
  justify-content: space-between;
  width: 56%;
  font-size: 25px;
  padding-left: 23%;
}
.menu_elmnt p {
  margin: 0px;
  line-height: 50px;
  font-family: "caveatregular";
}

#title-second h2 {
  padding: 0px 45px;
}

#title-third h2 {
  padding: 0px 25px;
}

footer {
  height: 70px;
  width: 100%;
  background-color: #579C87;
  display: flex;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  margin-top: 5%;
}

footer button {
  height: 100%;
  padding: 17px;
  font-size: 22px;
  background-color: #579C87;
  border: none;
  color: #FDCB46;
}

footer button:hover {
  animation: shake 0.8s infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}
@media all and (min-width: 320px) and (max-width: 767px) {
  h2 {
    margin-bottom: 7%;
  }

  article {
    width: 90%;
  }

  #menu-header i {
    font-size: 50px;
  }
  #menu-header h2 {
    font-size: 30px;
  }

  .menu_title h2 {
    font-size: 27px;
  }

  .menu_elmnt {
    padding: 17px;
  }
  .menu_elmnt li {
    display: initial;
    font-size: 20px;
  }
  .menu_elmnt p {
    line-height: 25px;
    text-align: center;
    width: 97%;
  }

  #menu1-footer i {
    font-size: 50px;
  }
  #menu1-footer h2 {
    font-size: 30px;
  }

  footer {
    margin-top: 18%;
  }
  footer button {
    font-size: 15px;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  h2 {
    margin-bottom: 4%;
  }

  article {
    width: 90%;
  }

  .menu_title h2 {
    font-size: 30px;
  }

  .menu_elmnt li {
    font-size: 21px;
    width: 80%;
    padding-left: 10%;
  }

  footer button {
    font-size: 19px;
  }
}
@media all and (min-width: 1024px) and (max-width: 2559px) {
  article {
    width: 80%;
  }

  .menu_title h2 {
    font-size: 30px;
  }

  .menu_elmnt li {
    width: 78%;
    font-size: 23px;
    padding-left: 11%;
  }

  footer button {
    font-size: 20px;
  }
}
@media all and (min-width: 1440px) and (max-width: 2559px) {
  .menu_title h2 {
    font-size: 33px;
  }

  .menu_elmnt li {
    font-size: 27px;
  }

  footer button {
    font-size: 21px;
  }
}
@media all and (min-width: 2560px) {
  header {
    height: 126px;
  }
  header h1 {
    font-size: 80px;
    padding-top: 0px;
  }

  h2 {
    font-size: 50px;
  }

  article {
    width: 80%;
  }

  #menu-header i {
    font-size: 100px;
  }
  #menu-header h2 {
    font-size: 70px;
  }

  .menu_title h2 {
    font-size: 50px;
  }

  .menu_elmnt li {
    font-size: 45px;
  }
  .menu_elmnt p {
    line-height: 90px;
  }

  #menu1-footer i {
    font-size: 100px;
  }
  #menu1-footer h2 {
    font-size: 70px;
  }

  footer {
    height: 100px;
  }
  footer button {
    font-size: 40px;
  }
}

/*# sourceMappingURL=menu4.css.map */
