@font-face {
  font-family: "montserratbold";
  src: url("./polices/montserrat-bold-webfont.woff2") format("woff2"), url("./polices/montserrat-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "kaushan_scriptregular";
  src: url("./polices/kaushanscript-regular-webfont.woff2") format("woff2"), url("./polices/kaushanscript-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "caveatregular";
  src: url("./polices/caveat-regular-webfont.woff2") format("woff2"), url("./polices/caveat-regular-webfont.woff") format("woff");
}
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

header {
  background-color: #579C87;
  height: 100px;
  font-family: "montserratbold";
  text-decoration: none;
}
header h1 {
  color: #FDCB46;
  text-align: center;
  margin: 0;
  font-size: 50px;
  padding-top: 11px;
}
header a {
  text-decoration: none;
}

main {
  width: 65%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #edefef;
  margin: auto;
  margin-bottom: 100px;
}

#menu-header {
  background: #0c520a;
  background: linear-gradient(90deg, #0c520a 27%, #7cd02e 76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding-top: 20px;
  margin-top: 7%;
}
#menu-header h2 {
  font-size: 50px;
  font-family: "kaushan_scriptregular";
  margin: 0;
}

.menu_title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_title h2 {
  background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s;
  -webkit-background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
  -webkit-background-size: 0% 100%;
  -webkit-transition: background-size 0.3s;
  -moz-background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
  -moz-background-size: 0% 100%;
  -moz-transition: background-size 0.3s;
  -ms-background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
  -ms-background-size: 0% 100%;
  -ms-transition: background-size 0.3s;
  -o-background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
  -o-background-size: 0% 100%;
  -o-transition: background-size 0.3s;
  font-family: "short_stackregular";
  margin: 0;
}
.menu_title h2:hover {
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
}

#title-first :before {
  display: inline-block;
  justify-content: space-between;
  margin: 0 75px 2px 0;
  height: 4px;
  content: " ";
  text-shadow: none;
  background: linear-gradient(90deg, #0c520a 27%, #7cd02e 76%);
  width: 300px;
}
#title-first :after {
  display: inline-block;
  justify-content: space-between;
  margin: 0 0 2px 70px;
  height: 4px;
  content: " ";
  text-shadow: none;
  background: linear-gradient(90deg, #7cd02e 49%, #0c520a 76%);
  width: 300px;
}

#title-second :before {
  display: inline-block;
  justify-content: space-between;
  margin: 0 20px 2px 0;
  height: 4px;
  content: " ";
  text-shadow: none;
  background: linear-gradient(90deg, #0c520a 27%, #7cd02e 76%);
  width: 300px;
}
#title-second :after {
  display: inline-block;
  justify-content: space-between;
  margin: 0 0 2px 20px;
  height: 4px;
  content: " ";
  text-shadow: none;
  background: linear-gradient(90deg, #7cd02e 49%, #0c520a 76%);
  width: 300px;
}

#title-third :before {
  display: inline-block;
  justify-content: space-between;
  margin: 0 5px 2px 0;
  height: 4px;
  content: " ";
  text-shadow: none;
  background: linear-gradient(90deg, #0c520a 27%, #7cd02e 76%);
  width: 300px;
}
#title-third :after {
  display: inline-block;
  justify-content: space-between;
  margin: 0 0 2px 7px;
  height: 4px;
  content: " ";
  text-shadow: none;
  background: linear-gradient(90deg, #7cd02e 49%, #0c520a 76%);
  width: 300px;
}

.menu_elmnt {
  margin: 0;
  padding: 15px 0px 71px 0px;
}
.menu_elmnt li {
  display: flex;
  justify-content: space-between;
  width: 56%;
  font-size: 25px;
  padding-left: 23%;
}
.menu_elmnt p {
  margin: 0px;
  line-height: 50px;
  font-family: "caveatregular";
}

footer {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  background-color: #579C87;
}
footer #left {
  font-size: 19px;
  margin: auto;
  background-color: #579C87;
  font-family: sans-serif;
  text-decoration: none;
  border: none;
  color: #FDCB46;
}
footer #left:hover {
  animation: shake 0.8s infinite;
}
footer #right {
  font-size: 19px;
  margin: auto;
  background-color: #579C87;
  font-family: sans-serif;
  text-decoration: none;
  border: none;
  color: #FDCB46;
}
footer #right:hover {
  animation: shake 0.8s infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}
@media all and (min-width: 320px) and (max-width: 767px) {
  h2 {
    margin-bottom: 7%;
  }

  main {
    width: 90%;
  }

  #menu-header {
    margin-top: 12%;
  }
  #menu-header h2 {
    font-size: 30px;
  }

  #title-first h2 {
    font-size: 25px;
  }
  #title-first :before {
    margin: 0 50px 2px 0;
    height: 3px;
    width: 50px;
  }
  #title-first :after {
    margin: 0 0 2px 50px;
    height: 3px;
    width: 50px;
  }

  #title-second h2 {
    font-size: 25px;
  }
  #title-second :before {
    margin: 0 15px 2px 0;
    height: 3px;
    width: 50px;
  }
  #title-second :after {
    margin: 0 0 2px 15px;
    height: 3px;
    width: 50px;
  }

  #title-third h2 {
    font-size: 25px;
  }
  #title-third :before {
    margin: 0 9px 2px 0;
    height: 3px;
    width: 50px;
  }
  #title-third :after {
    margin: 0 0 2px 9px;
    height: 3px;
    width: 50px;
  }

  .menu_elmnt {
    padding: 17px;
  }
  .menu_elmnt li {
    display: initial;
    font-size: 20px;
  }
  .menu_elmnt p {
    line-height: 25px;
    text-align: center;
    width: 97%;
  }

  footer {
    margin-top: 0;
  }
}
@media all and (min-width: 375px) and (max-width: 424px) {
  #title-first :before {
    width: 75px;
  }
  #title-first :after {
    width: 75px;
  }

  #title-second :before {
    width: 75px;
  }
  #title-second :after {
    width: 75px;
  }

  #title-third :before {
    width: 75px;
  }
  #title-third :after {
    width: 75px;
  }
}
@media all and (min-width: 425px) and (max-width: 767px) {
  #title-first :before {
    width: 100px;
  }
  #title-first :after {
    width: 100px;
  }

  #title-second :before {
    width: 100px;
  }
  #title-second :after {
    width: 100px;
  }

  #title-third :before {
    width: 100px;
  }
  #title-third :after {
    width: 100px;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  h2 {
    margin-bottom: 4%;
  }

  main {
    width: 90%;
    margin-bottom: 50px;
  }

  #title-first h2 {
    font-size: 25px;
  }
  #title-first :before {
    width: 200px;
  }
  #title-first :after {
    width: 200px;
  }

  #title-second h2 {
    font-size: 25px;
  }
  #title-second :before {
    width: 200px;
    margin: 0 36px 2px 0;
  }
  #title-second :after {
    width: 200px;
    margin: 0 0px 2px 36px;
  }

  #title-third h2 {
    font-size: 25px;
  }
  #title-third :before {
    width: 200px;
    margin: 0 30px 2px 0;
  }
  #title-third :after {
    width: 200px;
    margin: 0 0px 2px 30px;
  }

  .menu_elmnt li {
    font-size: 21px;
    width: 80%;
    padding-left: 10%;
  }

  footer #left {
    margin: 24px 20px;
  }
  footer #right {
    margin: 24px 20px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1865px) {
  main {
    width: 71%;
    margin-bottom: 50px;
  }

  .menu_title h2 {
    font-size: 30px;
  }

  #title-first h2 {
    font-size: 25px;
  }
  #title-first :before {
    margin: 0 75px 2px 0;
    height: 3px;
    width: 225px;
  }
  #title-first :after {
    margin: 0 0 2px 75px;
    height: 3px;
    width: 225px;
  }

  #title-second h2 {
    font-size: 25px;
  }
  #title-second :before {
    margin: 0 40px 2px 0;
    height: 3px;
    width: 225px;
  }
  #title-second :after {
    margin: 0 0 2px 40px;
    height: 3px;
    width: 225px;
  }

  #title-third h2 {
    font-size: 25px;
  }
  #title-third :before {
    margin: 0 35px 2px 0;
    height: 3px;
    width: 225px;
  }
  #title-third :after {
    margin: 0 0 2px 35px;
    height: 3px;
    width: 225px;
  }

  .menu_elmnt li {
    width: 79%;
    font-size: 23px;
    padding-left: 10%;
  }

  footer #left {
    font-size: 20px;
    margin: 23px 10px;
  }
  footer #right {
    font-size: 20px;
    margin: 23px 10px;
  }
}
@media all and (min-width: 1440px) and (max-width: 1865px) {
  main {
    width: 61%;
  }

  .menu_title h2 {
    font-size: 33px;
  }

  #title-first h2 {
    font-size: 25px;
  }
  #title-first :before {
    width: 300px;
  }
  #title-first :after {
    width: 300px;
  }

  #title-second h2 {
    font-size: 25px;
  }
  #title-second :before {
    width: 300px;
  }
  #title-second :after {
    width: 300px;
  }

  #title-third h2 {
    font-size: 25px;
  }
  #title-third :before {
    width: 300px;
  }
  #title-third :after {
    width: 300px;
  }

  .menu_elmnt li {
    font-size: 27px;
  }

  footer #left {
    font-size: 25px;
    margin: 20px 10px;
  }
  footer #right {
    font-size: 25px;
    margin: 20px 10px;
  }
}
@media all and (min-width: 2560px) {
  header {
    height: 126px;
  }
  header h1 {
    font-size: 80px;
    padding-top: 0px;
  }

  h2 {
    font-size: 50px;
  }

  main {
    width: 80%;
    margin-bottom: 6%;
  }

  #menu-header i {
    font-size: 100px;
  }
  #menu-header h2 {
    font-size: 70px;
    margin: auto;
  }

  #title-first h2 {
    font-size: 50px;
  }
  #title-first :before {
    width: 500px;
    margin: 0 100px 2px 0px;
  }
  #title-first :after {
    width: 500px;
    margin: 0 0 2px 100px;
  }

  #title-second h2 {
    font-size: 50px;
  }
  #title-second :before {
    width: 500px;
    margin: 0 45px 2px 0px;
  }
  #title-second :after {
    width: 500px;
    margin: 0px 0px 2px 45px;
  }

  #title-third h2 {
    font-size: 50px;
  }
  #title-third :before {
    width: 500px;
    margin: 0px 20px 2px 0px;
  }
  #title-third :after {
    width: 500px;
    margin: 0px 0px 2px 20px;
  }

  .menu_elmnt li {
    font-size: 45px;
    padding-left: 22%;
  }
  .menu_elmnt p {
    line-height: 90px;
  }

  footer {
    margin-top: 2%;
    height: 75px;
  }
  footer #left {
    font-size: 35px;
    margin: 18px 20px;
  }
  footer #right {
    font-size: 35px;
    margin: 18px 20px;
  }
}

/*# sourceMappingURL=menu4.css.map */
