@font-face {
  font-family: "montserratbold";
  src: url("./polices/montserrat-bold-webfont.woff2") format("woff2"), url("./polices/montserrat-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "croissant_oneregular";
  src: url("./polices/croissantone-regular-webfont.woff2") format("woff2"), url("./polices/croissantone-regular-webfont.woff") format("woff");
}
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #fff5fe;
}

header {
  background-color: #579C87;
  height: 100px;
  font-family: "montserratbold";
  text-decoration: none;
}
header h1 {
  color: #FDCB46;
  text-align: center;
  margin: 0;
  font-size: 50px;
  padding-top: 11px;
}
header a {
  text-decoration: none;
}

main {
  width: 60%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #fff5fe;
  margin: auto;
  margin-bottom: 100px;
}

#menu-header {
  text-align: center;
  padding-top: 20px;
  margin-top: 7%;
}
#menu-header h2 {
  font-size: 40px;
  font-family: "croissant_oneregular";
  background: #e38a12;
  background: linear-gradient(90deg, #e38a12 10%, #651cff 87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu_title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_title h2 {
  background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s;
  -webkit-background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
  -webkit-background-size: 0% 100%;
  -webkit-transition: background-size 0.3s;
  -moz-background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
  -moz-background-size: 0% 100%;
  -moz-transition: background-size 0.3s;
  -ms-background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
  -ms-background-size: 0% 100%;
  -ms-transition: background-size 0.3s;
  -o-background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
  -o-background-size: 0% 100%;
  -o-transition: background-size 0.3s;
  font-family: "short_stackregular";
  margin: 0;
}
.menu_title h2:hover {
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
}

#title-first h2 {
  color: #e38a12;
}

#title-first:before {
  display: inline-block;
  justify-content: space-between;
  margin: 0 20px 0px 0;
  height: 4px;
  content: " ";
  text-shadow: none;
  background-color: #e38a12;
  width: 250px;
}

#title-first:after {
  display: inline-block;
  justify-content: space-between;
  margin: 0 0 0px 20px;
  height: 4px;
  content: " ";
  text-shadow: none;
  background-color: #e38a12;
  width: 250px;
}

#elmnt-first {
  color: #e38a12;
}

.menu_elmnt {
  margin: 0;
  padding: 15px 0px 71px 0px;
}
.menu_elmnt li {
  display: flex;
  justify-content: space-between;
  width: 62%;
  font-size: 24px;
  padding-left: 19%;
}
.menu_elmnt p {
  margin: 0px;
  line-height: 50px;
}

#title-second h2 {
  color: #98499e;
}

#title-second:before {
  display: inline-block;
  justify-content: space-between;
  margin: 0 51px 0px 0;
  height: 4px;
  content: " ";
  text-shadow: none;
  background-color: #98499e;
  width: 250px;
}

#title-second:after {
  display: inline-block;
  justify-content: space-between;
  margin: 0 0 0px 60px;
  height: 4px;
  content: " ";
  text-shadow: none;
  background-color: #98499e;
  width: 250px;
}

#elmnt-second {
  color: #98499e;
}

#title-third h2 {
  color: #651cff;
}

#title-third:before {
  display: inline-block;
  justify-content: space-between;
  margin: 0 35px 0px 0;
  height: 4px;
  content: " ";
  text-shadow: none;
  background-color: #651cff;
  width: 250px;
}

#title-third:after {
  display: inline-block;
  justify-content: space-between;
  margin: 0 0 0px 35px;
  height: 4px;
  content: " ";
  text-shadow: none;
  background-color: #651cff;
  width: 250px;
}

#elmnt-third {
  color: #651cff;
}

footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: #579C87;
}
footer #left {
  font-size: 19px;
  margin: 23px 15px;
  background-color: #579C87;
  font-family: sans-serif;
  text-decoration: none;
  border: none;
  color: #FDCB46;
}
footer #left:hover {
  animation: shake 0.8s infinite;
}
footer #right {
  font-size: 19px;
  margin: 23px 15px;
  background-color: #579C87;
  font-family: sans-serif;
  text-decoration: none;
  border: none;
  color: #FDCB46;
}
footer #right:hover {
  animation: shake 0.8s infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}
@media all and (min-width: 320px) and (max-width: 374px) {
  header {
    height: 83px;
  }
  header h1 {
    font-size: 40px;
  }

  main {
    width: 90%;
    margin-bottom: 36%;
  }

  #menu-header {
    margin-top: 15%;
  }
  #menu-header h2 {
    font-size: 23px;
  }

  .menu_title h2 {
    font-size: 17px;
    background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.3s;
    -webkit-background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
    -webkit-background-size: 0% 100%;
    -webkit-transition: background-size 0.3s;
    -moz-background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
    -moz-background-size: 0% 100%;
    -moz-transition: background-size 0.3s;
    -ms-background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
    -ms-background-size: 0% 100%;
    -ms-transition: background-size 0.3s;
    -o-background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
    -o-background-size: 0% 100%;
    -o-transition: background-size 0.3s;
    margin: 0;
  }
  .menu_title h2:hover {
    -webkit-background-size: 0;
    -moz-background-size: 0;
    -ms-background-size: 0;
    -o-background-size: 0;
  }

  #title-first h2 {
    margin: 0px;
  }

  #title-first:before {
    width: 45px;
    height: 2px;
    margin: 0px 2px 0px 0px;
  }

  #title-first:after {
    width: 45px;
    height: 2px;
    margin: 0px 0px 0px 2px;
  }

  #title-second h2 {
    margin: 0px;
  }

  #title-second:before {
    width: 45px;
    height: 2px;
    margin: 0px 25px 0px 0px;
  }

  #title-second:after {
    width: 45px;
    height: 2px;
    margin: 0px 0px 0px 25px;
  }

  #title-third h2 {
    margin: 0px;
  }

  #title-third:before {
    width: 45px;
    height: 2px;
    margin: 0px 10px 0px 0px;
  }

  #title-third:after {
    width: 45px;
    height: 2px;
    margin: 0px 0px 0px 10px;
  }

  .menu_elmnt {
    padding: 17px;
  }
  .menu_elmnt li {
    display: initial;
    font-size: 16px;
    padding-left: 0;
  }
  .menu_elmnt p {
    line-height: 25px;
    text-align: center;
    width: 97%;
  }

  footer {
    margin-top: 18%;
  }
  footer #left {
    display: flex;
    align-items: center;
    margin: auto;
  }
  footer #left:hover {
    animation: inherit;
  }
  footer #right {
    display: flex;
    align-items: center;
    margin: auto;
  }
  footer #right:hover {
    animation: inherit;
  }
}
@media all and (min-width: 375px) and (max-width: 424px) {
  header {
    height: 83px;
  }
  header h1 {
    font-size: 40px;
  }

  main {
    width: 90%;
    margin-bottom: 35%;
  }

  #menu-header {
    margin-top: 15%;
  }
  #menu-header h2 {
    font-size: 23px;
  }

  .menu_title h2 {
    font-size: 17px;
  }

  #title-first h2 {
    margin: 0px;
  }

  #title-first:before {
    width: 65px;
    height: 2px;
    margin: 0px 3px 0px 0px;
  }

  #title-first:after {
    width: 65px;
    height: 2px;
    margin: 0px 0px 0px 3px;
  }

  #title-second h2 {
    margin: 0px;
  }

  #title-second:before {
    width: 65px;
    height: 2px;
    margin: 0px 28px 0px 0px;
  }

  #title-second:after {
    width: 65px;
    height: 2px;
    margin: 0px 0px 0px 28px;
  }

  #title-third h2 {
    margin: 0px;
  }

  #title-third:before {
    width: 65px;
    height: 2px;
    margin: 0px 14px 4px 0px;
  }

  #title-third:after {
    width: 65px;
    height: 2px;
    margin: 0px 0px 4px 14px;
  }

  .menu_elmnt {
    padding: 17px;
  }
  .menu_elmnt li {
    display: initial;
    font-size: 16px;
    padding-left: 0;
  }
  .menu_elmnt p {
    line-height: 25px;
    text-align: center;
    width: 97%;
  }

  footer {
    margin-top: 18%;
  }
  footer #left {
    display: flex;
    align-items: center;
  }
  footer #right {
    display: flex;
    align-items: center;
  }
}
@media all and (min-width: 425px) and (max-width: 767px) {
  header {
    height: 83px;
  }
  header h1 {
    font-size: 40px;
  }

  main {
    width: 90%;
    margin-bottom: 30%;
  }

  #menu-header {
    margin-top: 15%;
  }
  #menu-header h2 {
    font-size: 23px;
  }

  .menu_title h2 {
    font-size: 17px;
    margin: 0px;
  }

  #title-first h2 {
    margin: 0px;
  }

  #title-first:before {
    width: 75px;
    height: 2px;
    margin: 0px 17px 0px 0px;
  }

  #title-first:after {
    width: 75px;
    height: 2px;
    margin: 0px 0px 0px 17px;
  }

  #title-second h2 {
    margin: 0px;
  }

  #title-second:before {
    width: 75px;
    height: 2px;
    margin: 0px 40px 0px 0px;
  }

  #title-second:after {
    width: 75px;
    height: 2px;
    margin: 0px 0px 0px 40px;
  }

  #title-third h2 {
    margin: 0px;
  }

  #title-third:before {
    width: 75px;
    height: 2px;
    margin: 0px 25px 0px 0px;
  }

  #title-third:after {
    width: 75px;
    height: 2px;
    margin: 0px 0px 0px 25px;
  }

  .menu_elmnt {
    padding: 17px;
  }
  .menu_elmnt li {
    display: initial;
    font-size: 16px;
    padding-left: 0;
  }
  .menu_elmnt p {
    line-height: 25px;
    text-align: center;
    width: 97%;
  }

  footer {
    margin-top: 18%;
  }
  footer #left {
    display: flex;
    align-items: center;
  }
  footer #right {
    display: flex;
    align-items: center;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  main {
    width: 90%;
    margin-bottom: 17%;
  }

  #menu-header h2 {
    font-size: 35px;
  }

  .menu_title h2 {
    font-size: 24px;
    background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.3s;
    -webkit-background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
    -webkit-background-size: 0% 100%;
    -webkit-transition: background-size 0.3s;
    -moz-background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
    -moz-background-size: 0% 100%;
    -moz-transition: background-size 0.3s;
    -ms-background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
    -ms-background-size: 0% 100%;
    -ms-transition: background-size 0.3s;
    -o-background: linear-gradient(to top, black 3%, rgba(0, 0, 0, 0.5) 3px, transparent 1px) no-repeat;
    -o-background-size: 0% 100%;
    -o-transition: background-size 0.3s;
    margin: 0;
  }
  .menu_title h2:hover {
    -webkit-background-size: 0;
    -moz-background-size: 0;
    -ms-background-size: 0;
    -o-background-size: 0;
  }

  #title-first h2 {
    margin: 0px;
  }

  #title-first:before {
    width: 175px;
    height: 2px;
    margin: 0px 20px 0px 0px;
  }

  #title-first:after {
    width: 175px;
    height: 2px;
    margin: 0px 0px 0px 20px;
  }

  #title-second h2 {
    margin: 0px;
  }

  #title-second:before {
    width: 175px;
    height: 2px;
    margin: 0px 53px 0px 0px;
  }

  #title-second:after {
    width: 175px;
    height: 2px;
    margin: 0px 0px 0px 50px;
  }

  #title-third h2 {
    margin: 0px;
  }

  #title-third:before {
    width: 175px;
    height: 2px;
    margin: 0px 35px 0px 0px;
  }

  #title-third:after {
    width: 175px;
    height: 2px;
    margin: 0px 0px 0px 35px;
  }

  .menu_elmnt li {
    font-size: 18px;
    width: 79%;
    padding-left: 10%;
  }

  footer #left {
    margin: 24px 20px;
  }
  footer #left:hover {
    animation: inherit;
  }
  footer #right {
    margin: 24px 20px;
  }
  footer #right:hover {
    animation: inherit;
  }
}
@media all and (min-width: 1024px) and (max-width: 1865px) {
  main {
    width: 70%;
    margin-bottom: 12%;
  }

  .menu_title h2 {
    font-size: 25px;
    margin: 0;
  }

  #title-first h2 {
    margin: 0px;
  }

  #title-first:before {
    width: 160px;
    height: 2px;
    margin: 0px 35px 0px 0px;
  }

  #title-first:after {
    width: 160px;
    height: 2px;
    margin: 0px 0px 0px 35px;
  }

  #title-second h2 {
    margin: 0px;
  }

  #title-second:before {
    width: 160px;
    height: 2px;
    margin: 0px 68px 0px 0px;
  }

  #title-second:after {
    width: 160px;
    height: 2px;
    margin: 0px 0px 0px 65px;
  }

  #title-third h2 {
    margin: 0px;
  }

  #title-third:before {
    width: 160px;
    height: 2px;
    margin: 0px 50px 0px 0px;
  }

  #title-third:after {
    width: 160px;
    height: 2px;
    margin: 0px 0px 0px 50px;
  }

  .menu_elmnt li {
    width: 82%;
    font-size: 20px;
    padding-left: 9%;
  }

  footer #left {
    font-size: 20px;
    margin: 23px 10px;
  }
  footer #right {
    font-size: 20px;
    margin: 23px 10px;
  }
}
@media all and (min-width: 1440px) and (max-width: 1865px) {
  main {
    margin-bottom: 10%;
  }

  #menu-header i {
    font-size: 70px;
  }
  #menu-header h2 {
    font-size: 45px;
  }

  .menu_title h2 {
    font-size: 28px;
  }

  #title-first h2 {
    margin: 0px;
  }

  #title-first:before {
    width: 220px;
    height: 2px;
    margin: 0px 78px 0px 0px;
  }

  #title-first:after {
    width: 220px;
    height: 2px;
    margin: 0px 0px 0px 78px;
  }

  #title-second h2 {
    margin: 0px;
  }

  #title-second:before {
    width: 220px;
    height: 2px;
    margin: 0px 115px 0px 0px;
  }

  #title-second:after {
    width: 220px;
    height: 2px;
    margin: 0px 0px 0px 115px;
  }

  #title-third h2 {
    margin: 0px;
  }

  #title-third:before {
    width: 220px;
    height: 2px;
    margin: 0px 95px 0px 0px;
  }

  #title-third:after {
    width: 220px;
    height: 2px;
    margin: 0px 0px 0px 95px;
  }

  .menu_elmnt li {
    font-size: 23px;
    width: 70%;
    padding-left: 15%;
  }

  footer #left {
    font-size: 25px;
    margin: 20px 10px;
  }
  footer #right {
    font-size: 25px;
    margin: 20px 10px;
  }
}
@media all and (min-width: 2560px) {
  main {
    width: 50%;
    margin-bottom: 8%;
  }

  #menu-header i {
    font-size: 70px;
  }
  #menu-header h2 {
    font-size: 45px;
  }

  .menu_title h2 {
    font-size: 28px;
  }

  #title-first h2 {
    margin: 0px;
  }

  #title-first:before {
    width: 380px;
    height: 2px;
    margin: 0px 78px 0px 0px;
  }

  #title-first:after {
    width: 380px;
    height: 2px;
    margin: 0px 0px 0px 78px;
  }

  #title-second h2 {
    margin: 0px;
  }

  #title-second:before {
    width: 380px;
    height: 2px;
    margin: 0px 115px 0px 0px;
  }

  #title-second:after {
    width: 380px;
    height: 2px;
    margin: 0px 0px 0px 115px;
  }

  #title-third h2 {
    margin: 0px;
  }

  #title-third:before {
    width: 380px;
    height: 2px;
    margin: 0px 95px 0px 0px;
  }

  #title-third:after {
    width: 380px;
    height: 2px;
    margin: 0px 0px 0px 95px;
  }

  .menu_elmnt li {
    font-size: 23px;
    width: 55%;
    padding-left: 21%;
  }

  footer {
    margin-top: 2%;
    height: 100px;
  }
  footer #left {
    font-size: 35px;
    margin: 30px 20px;
  }
  footer #right {
    font-size: 35px;
    margin: 30px 20px;
  }
}

/*# sourceMappingURL=menu2.css.map */
